.menu_button_green:hover{
    -fx-background-color:#aaeeaa;
}

.menu_button_green{
    -fx-background-color:#5cc87c;
}

.menu_button:hover{
    -fx-background-color:#3e4255;
}

.menu_button{
    -fx-background-color:#282b3c;
}

.menu_button_red:hover{
    -fx-background-color:#e09090;
}

.menu_button_red{
    -fx-background-color:#e06863;
}

.root{
    -fx-base: #141728;
    -fx-accent: #e7eff7 ;
    -fx-default-button: #282b3c ;
    -fx-focus-color: #3e4255;
    /*-fx-faint-focus-color: #000000;*/
    /*-fx-focused-text-base-color : ladder(*/
    /*        -fx-selection-bar,*/
    /*        -fx-light-text-color 45%,*/
    /*        -fx-dark-text-color 46%,*/
    /*        -fx-dark-text-color 59%,*/
    /*        -fx-mid-text-color 60%*/
    /*);*/
    -fx-focused-mark-color : -fx-focused-text-base-color ;
    -fx-background-color: #141728;
}


.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.scroll-pane > content{
    -fx-background-color: #141728;
}

.dark_background{
    -fx-background-color: #141728;
}

.progress-bar{
    -fx-accent: #5cc87c;
    /*-fx-box-border: #585858;*/
    /*-fx-background-color: #141728;*/
    -fx-padding: 8;
}

.progress-bar > .track {
    -fx-text-box-border: #00000000;
    -fx-control-inner-background: #3e4255;
}

.list-view{
    -fx-background-color: #141728;
    -fx-border-width: 0;
}

.list-view .list-cell:even {
    -fx-background-color: #282b3c;
}
.list-view .list-cell:odd {
    -fx-background-color: #141728;
}